extends layout

block content
  div.container(style="text-align: center")
    div.btn-group
      button.btn.btn-outline-dark(onclick="onImport(null, false)", title="Импорт заказов") Импорт заказов
      button.btn.btn-outline-dark(onclick="onImport(null, true)", title="Выбор заказов")
        svg.bi.bi-gear(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 014.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 01-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 011.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 012.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 012.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 011.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 01-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 018.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 001.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 00.52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 00-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 00-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 00-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 00-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 00.52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 001.255-.52l.094-.319z", clip-rule="evenodd")
          path(fill-rule="evenodd", d="M8 5.754a2.246 2.246 0 100 4.492 2.246 2.246 0 000-4.492zM4.754 8a3.246 3.246 0 116.492 0 3.246 3.246 0 01-6.492 0z", clip-rule="evenodd")
      button.btn.btn-outline-dark(onclick="$('#modal-import').modal('show'); $('#modal-import')[0].dataset['type'] = 'classic'", title="Импорт по дате")
        svg.bi.bi-clock(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z")
          path(fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z")
  div.container
    span.badge.badge-pill.badge-danger.apxu-online-status Нет сети
    button.btn.btn-outline-dark.apxu-settings(onclick="openSettings()", title="Настройки")
      svg.bi.bi-gear(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd", d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 014.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 01-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 011.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 012.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 012.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 011.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 01-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 018.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 001.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 00.52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 00-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 00-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 00-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 00-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 00.52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 001.255-.52l.094-.319z", clip-rule="evenodd")
        path(fill-rule="evenodd", d="M8 5.754a2.246 2.246 0 100 4.492 2.246 2.246 0 000-4.492zM4.754 8a3.246 3.246 0 116.492 0 3.246 3.246 0 01-6.492 0z", clip-rule="evenodd")
    div.switch
      p.mr-2 Имя
      div.custom-control.custom-switch
        input#customSwitch1.custom-control-input(type="checkbox")
        label.custom-control-label(for="customSwitch1")
      p ID
  div.container.mt-2(style="text-align: center;")
    div.btn-group
      button.btn.btn-outline-dark(onclick="$('#modal-import-data').modal('show');$('#modal-import-data').data('group', false)", title="Импорт данных") Импорт данных
      button.btn.btn-outline-dark(onclick="$('#modal-import-data').modal('show');$('#modal-import-data').data('group', true)", title="Импорт данных по группе")
        svg.bi.bi-diagram-3(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", d="M0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6h-1A1.5 1.5 0 0 1 6 4.5v-1zM7.5 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z")
          path(fill-rule="evenodd", d="M8 5a.5.5 0 0 1 .5.5V7H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V5.5A.5.5 0 0 1 8 5z")
  div.container.mt-2(style="text-align: center;")
    div.btn-group
      button.btn.btn-outline-dark(onclick="onExport(false)", title="Экспорт цен") Экспорт цен
      button.btn.btn-outline-dark(onclick="$('#modal-export').modal('show')", title="Настройки экспорта")
        svg.bi.bi-gear(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 014.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 01-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 011.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 012.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 012.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 011.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 01-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 018.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 001.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 00.52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 00-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 00-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 00-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 00-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 00.52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 001.255-.52l.094-.319z", clip-rule="evenodd")
          path(fill-rule="evenodd", d="M8 5.754a2.246 2.246 0 100 4.492 2.246 2.246 0 000-4.492zM4.754 8a3.246 3.246 0 116.492 0 3.246 3.246 0 01-6.492 0z", clip-rule="evenodd")
      button.btn.btn-outline-dark(onclick="onExport(true)", title="Экспорт по группе")
        svg.bi.bi-diagram-3(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", d="M0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6h-1A1.5 1.5 0 0 1 6 4.5v-1zM7.5 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z")
          path(fill-rule="evenodd", d="M8 5a.5.5 0 0 1 .5.5V7H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V5.5A.5.5 0 0 1 8 5z")
      //button.btn.btn-outline-dark(type="button", onclick="$('#modal-download-file').modal('show')") Загрузка файла
  div.container.mt-2(style="text-align: center;")
    button.btn.btn-outline-dark(onclick="downloadPhoto(false)", title="Загрузка фото") Загрузка фото
  div.container.mt-2(style="text-align: center;")
    button.btn.btn-outline-dark(onclick="removePhotoWithoutId()", title="Удалить фото без ID") Удалить фото без ID
  div.container.mt-2(style="text-align: center;")
    button.btn.btn-outline-dark(onclick="openTTNWindow()", title="Загрузка ТТН") Загрузка ТТН
  div.container.mt-2(style="text-align: center;")
    div.btn-group
      button.btn.btn-outline-dark(onclick="onChangePrice(false)", title="Изменение цен") Изменение на УкрСкладе
      button.btn.btn-outline-dark(onclick="onChangePrice(true)", title="Выбрать группу")
        svg.bi.bi-diagram-3(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd", d="M0 11.5A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6h-1A1.5 1.5 0 0 1 6 4.5v-1zM7.5 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z")
          path(fill-rule="evenodd", d="M8 5a.5.5 0 0 1 .5.5V7H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V5.5A.5.5 0 0 1 8 5z")
      button.btn.btn-outline-dark(onclick="saveChanges()", title="Сохранить изменения")
        svg.bi.bi-save(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
          path(d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z")
      button.btn.btn-outline-dark(onclick="stopWatch()", title="Остановить слежку за файлом")
        svg.bi.bi-eye-slash(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
          path(d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z")
          path(d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z")
          path(d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z")
  div.alert.alert-dark.mar.hidden(role="alert")
  div.progress.mar.hidden
    div.progress-bar.progress-bar-striped.progress-bar-animated.bg-dark(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%") 0/0
  div#modal-error.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Ошибка
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          p.apxu-alert
          p Что-то пошло не так, свяжитесь с тех поддержкой
          p +38 097 90 44 874
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-settings.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Настройки
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          div.btn-group.mr-2.mb-2(role="group")
            button.btn.btn-outline-dark(onclick="openOrders()", title="Удалить заказ") Удалить заказ
          div.btn-group.mr-2.mb-2(role="group")
            button.btn.btn-outline-dark(onclick="openSync()", title="Синхронизация") Синхронизация
          div.btn-group.mr-2.mb-2.test(role="group")
            button.btn.btn-outline-dark(onclick="openPrice()", title="Прайс") Прайс
          div.btn-group.mr-2.mb-2(role="group")
            button.btn.btn-outline-dark(onclick="calib()", title="Поиск неподдержуемых символов") Калибровка
          div.btn-group.mr-2.mb-2(role="group")
            button.btn.btn-outline-dark(onclick="calibAuto()", title="Автоматическое исправление неподдержуемых символов") Авто калибровка
          div.btn-group.mr-2.mb-2(role="group")
            button.btn.btn-outline-dark(onclick="window.location.pathname = '/licence'", title="Продление лицензии") Лицензия
          div.btn-group.mr-2.mb-2(role="group")
            button.btn.btn-outline-dark(onclick="checkDouble()") Поиск дублей
          div.btn-group.mr-2.mb-2(role="group")
            button.btn.btn-outline-dark(onclick="test3()") Тест 3
          div.btn-group.mr-2.mb-2.secondShop.hidden(role="group")
            button.btn.btn-outline-dark(onclick="ssOnImport(null, false)", title="Импорт заказов") Импорт заказов
            button.btn.btn-outline-dark(onclick="ssOnImport(null, true)", title="Выбор заказов")
              svg.bi.bi-gear(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 014.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 01-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 011.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 012.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 012.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 011.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 01-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 018.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 001.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 00.52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 00-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 00-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 00-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 00-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 00.52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 001.255-.52l.094-.319z", clip-rule="evenodd")
                path(fill-rule="evenodd", d="M8 5.754a2.246 2.246 0 100 4.492 2.246 2.246 0 000-4.492zM4.754 8a3.246 3.246 0 116.492 0 3.246 3.246 0 01-6.492 0z", clip-rule="evenodd")
            button.btn.btn-outline-dark(onclick="$('#modal-import').modal('show'); $('#modal-import')[0].dataset['type'] = 'ss'", title="Импорт по дате")
              svg.bi.bi-clock(width="1em", height="1em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z")
                path(fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z")
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-import.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Импорт по дате
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          p.apxu-import-alert
          p Хотите загрузить еще заказы за другой день?
          div.input-group.mb-3
            input.form-control(type="text", placeholder="ГГГГ-ММ-ДД", aria-label="Дата", aria-describedby="button-addon2", pattern="/^\\(?([0-9]{3})\\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/")
            div.input-group-append
              button#button-addon2.btn.btn-outline-dark(type="button", onclick="onDateImport(false)", title="Импорт по дате") Импорт по дате
              button.btn.btn-outline-dark(type="button", onclick="onDateImport(true)", title="Выборочная загрузка") Выборочная загрузка
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-orders.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-xl(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Заказы: лист 1
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          table.table.table-striped
            thead
              tr
                th(scope="col") #
                th(scope="col") Заказ
                th(scope="col") ФИО
                th(scope="col") Сумма
                th(scope="col") Дата
                th(scope="col") Удалить
            tbody
          button.btn.btn-outline-dark(onclick='goDown()', title="Назад") <
          button.btn.btn-outline-dark(onclick='goUp()', title="Вперед") >
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-info.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Инфо
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          p.apxu-info-alert
          div.btn-group.mr-2(role="group")
            button.btn.btn-outline-dark.apxu-yes Да
          div.btn-group(role="group")
            button.btn.btn-outline-dark.apxu-no Нет
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-select-orders.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-xl(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Заказы:
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          table.table.table-striped
            thead
              tr
                th(scope="col") #
                th(scope="col") Заказ
                th(scope="col") ФИО
                th(scope="col") Сумма
                th(scope="col") Дата
                th(scope="col") Статус
                th(scope="col") Все
                  input(type="checkbox" onclick="checkAll(this)")
            tbody
          button.btn.btn-outline-dark.submit-orders(title="Загрузить заказы") Загрузить заказы
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-export.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-xl(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Экспорт
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          div.btn-group.mr-2(role="group")
            button.btn.btn-outline-dark(onclick="onExport(false)", title="Выгрузить все") Выгрузить все
          div.btn-group.mr-2(role="group")
            button.btn.btn-outline-dark(onclick="onExportNew()", title="Выгрузить новое") Выгрузить новое
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-select-tovar.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-xl(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Выбрать товар:
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          table.table.table-striped
            thead
              tr
                th(scope="col") #
                th(scope="col") Имя
                th(scope="col") Приход
                th(scope="col") Валюта
                th(scope="col") Цена Опт
                th(scope="col") Цена Роз
                th(scope="col") Кол-во для Опта
                th(scope="col") Код
                th(scope="col") Скрыто
            tbody
          button.btn.btn-outline-dark.submit-tovar Отправить
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Закрыть
  div#modal-sync.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-xl(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Синхронизация:
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          table.table.table-striped
            thead
              tr
                th(scope="col") Имя
                th(scope="col") Время
                th(scope="col") Кол-во
                th(scope="col") Удалить
            tbody
          button.btn.btn-outline-dark.submit-tovar(title="Отправить") Отправить
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-ttn.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Импорт по дате
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          p.apxu-import-alert
          p Установите промежуток за который скачать ТТН?
          div.input-group.mb-3
            input.form-control.date(type="text", placeholder="ГГГГ-ММ-ДД", aria-label="Дата", aria-describedby="button-addon3", pattern="/^\\(?([0-9]{3})\\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/")
            div.input-group-append
              button#button-addon3.btn.btn-outline-dark(type="button", onclick="downloadTTN()", title="Загрузка ТТН") Загрузка ТТН
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-groups.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-xl(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Группы:
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-lost-connection.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content(style="text-align: center")
        div.modal-header
          h5.modal-title Соединение с сервером разорвано
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          p(style="height: 140px")
            svg.warning(width="10em", height="10em", viewBox="0 0 16 16", fill="currentColor", xmlns="http://www.w3.org/2000/svg")
              path(fill-rule="evenodd", d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z")
              path(d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z")
          p Соединение с сервером потеряно, перезапустите сервер
        div.modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal", title="Закрыть") Закрыть
  div#modal-import-data.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content(style="text-align: center")
        div.modal-header
          h5.modal-title Выберите какие данные вы хотите импортировать с Пром
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body(style="font-weight: bold")
          div.container
            div.btn-group
              button.btn.btn-outline-dark.import-data-field(onclick="switchActive(this)", title="Имя", data-field="NAME") Имя
              button.btn.btn-outline-dark.import-data-field(onclick="switchActive(this)", title="Цена розничная", data-field="CENA_R") Цена розничная
              //button.btn.btn-outline-dark.import-data-field(onclick="switchActive(this)", title="Цена оптовая", data-field="CENA_O") Цена оптовая
              button.btn.btn-outline-dark.import-data-field(onclick="switchActive(this)", title="Код", data-field="KOD") Код
          div.container.mt-2
            button.btn.btn-outline-dark(onclick="onImportData()", title="Импорт") Импорт
        div.modal-footer
  div#modal-download-file.modal(tabindex="-1", role="dialog")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content(style="text-align: center")
        div.modal-header
          h5.modal-title Выберите файл для экспорта
          button.close(type="button", data-dismiss="modal", aria-label="Close", title="Закрыть")
            span(aria-hidden="true") &times;
        div.modal-body
          div.container
            //input(type="file")
            div.custom-file
              p Поместите файл для экспорта в папку
                span(style="font-weight: bold")  public\price\export.xlsx
                  p и назавите обязательно файл
                    span(style="font-weight: bold")  export.xlsx
              button.btn.btn-outline-dark(onclick="exportFile()") Экспорт
        div.modal-footer
  footer.text-muted
    div.container-fluid
      p Техподдержка +38 097 90 44 874