body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.apxu-online-status {
  position: absolute;
  top: 10px;
  right: 10px;
}
.apxu-settings {
  position: absolute;
  right: 10px;
  top: 50px;
}

footer {
  padding: 3rem;
  padding-bottom: 2rem;
  background-color: #eeeeee;
  position: absolute;
  width: 100%;
  bottom: 3px;
  text-align: center;
}

.hidden {
  display: none;
}

.mar {
  margin-top: 6px;
  margin-left: 20px;
  margin-right: 20px;
}

.test {
  display: none;
}

.warning {
  color: orange;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    width: 10em;
    height: 10em;
    margin-top: 0px;
  }
  70% {
    width: 5em;
    height: 5em;
    margin-top: 35px;
  }
  100% {
    width: 10em;
    height: 10em;
    margin-top: 0px;
  }
}

.nest-0 {
  padding-left: 0;
}

.nest-1 {
  padding-left: 1rem;
}

.nest-2 {
  padding-left: 2rem;
}

.nest-3 {
  padding-left: 3rem;
}

.nest-4 {
  padding-left: 4rem;
}

.nest-5 {
  padding-left: 5rem;
}

.progress {
  background-color: #aaaaaa;
}

.switch {
  display: flex;
  position: absolute;
  top: 10px;
  right: 70px;
}

.custom-control-label {
  margin-top: -4px;
}

.custom-control-input:checked~ .custom-control-label::before {
  border-color: #28a745;
  background-color: #28a745;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #28a745;
}

.thumb {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
}

.cont {
  padding: 10px;
}

.open-group {
  font-weight: bolder;
}

.open-group:hover {
  cursor: pointer;
}